<div>
  <div class="  pt-10 ">


        <div class="shadow-lg p-4 container mx-auto  ">
          <p-toolbar
            styleClass="relative m-auto p-5 mb-10 mt-10 rounded-1xl bg-neutral-800"
          >
            <ng-template pTemplate="left">
              <button
              (click)="showDialog()"
              pTooltip="Agregar"
              class="min-w-auto h-auto bg-zinc-400 shadow-xl p-2 rounded-full hover:bg-blue-500 text-white font-semibold transition-transform hover:-translate-y-3 ease-in-out"
              type="button"
              icon="pi pi-plus"
              styleClass="p-button-text"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-plus-lg"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
                />
              </svg>
            </button>
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                class="shadow-lg mr-2 absolute right-0 appearance-none rounded-full pl-8 pr-6 py-2 w-50 bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600"
                (input)="onInputChange($event)"
                placeholder="buscador"
              />

              <!-- <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text">AFTER</p-button>
                          <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text">RESET</p-button>
                          <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text">MORE</p-button> -->
            </ng-template>

            <ng-template pTemplate="right">

            </ng-template>
          </p-toolbar>
          <p-table
            #dt1
            class="border-spacing-y-96"
            [value]="users"
            [paginator]="true"
            [rows]="5"
            [loading]="loading"
            [showCurrentPageReport]="true"
            [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[10, 25, 50]"
            [globalFilterFields]="['email']"
          >
            <ng-template pTemplate="header">
              <tr class="">
                <th
                  pSortableColumn="email"
                  class="text-xs bg-neutral-800 text-zinc-400"
                >
                  Correo<p-sortIcon></p-sortIcon>
                </th>
                <th
                pSortableColumn="group"
                class="text-xs bg-neutral-800 text-zinc-400"
              >
                Departamento<p-sortIcon></p-sortIcon>
              </th>
                <th
                  pSortableColumn="rol"
                  class="text-xs bg-neutral-800 text-zinc-400"
                >
                  Rol<p-sortIcon></p-sortIcon>
                </th>
                <th
                  pSortableColumn="status"
                  class="text-xs bg-neutral-800 text-zinc-400"
                >
                  Status<p-sortIcon></p-sortIcon>
                </th>
                <th class="text-xs bg-neutral-800 text-zinc-400">Acciones</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-customer>
              <tr>
                <td class="bg-zinc-900 text-xs text-white">
                  {{ customer.email }}
                </td>
                <td class="bg-zinc-900 text-xs text-white">
                  {{ customer.group }}
                </td>
                <td class="bg-zinc-900 text-xs text-white">
                  {{ customer.role == 1 ? "Usuario" : "Administrativo" }}
                </td>
                <td class="bg-zinc-900 text-xs text-white">
                  {{ customer.active == 1 ? "Activo" : "Inactivo" }}
                </td>
                <td class="bg-zinc-900 text-xs text-white">
                  <button
                    (click)="updateStatus(customer.id)"
                    pButton
                    type="button"
                    icon="pi pi-pencil"
                    pTooltip="Cambiar permisos"
                    class="mr-1 p-button-rounded p-button-text min-w-auto w-14 h-14 bg-yellow-300 p-2 rounded-full hover:bg-yellow-500 text-white font-semibold transition-rotation duration-300 hover:rotate-45 ease-in-out"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-arrow-clockwise"
                      viewBox="0 0 16 16"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
                      />
                      <path
                        d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
                      />
                    </svg>
                  </button>
                  <button
                    pButton
                    type="button"
                    icon="pi pi-pencil"
                    (click)="updateEmail(customer)"
                    pTooltip="Editar"
                    class="p-button-rounded p-button-text min-w-auto w-14 h-14 bg-yellow-300 p-2 rounded-full hover:bg-yellow-500 text-white font-semibold transition-rotation duration-300 hover:rotate-45 ease-in-out"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-pencil"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
                      />
                    </svg>
                  </button>
                </td>
              </tr>
            </ng-template>
            <ng-template class="pr-5" pTemplate="paginatorleft">

            </ng-template>
            <ng-template pTemplate="paginatorright">
              <p-button
                class="text-center justify-center"
                type="button"
                icon="pi pi-cloud"
                styleClass="p-button-text"
              ></p-button>
            </ng-template>
          </p-table>
        </div>

  </div>
</div>

<p-dialog
  header="Registrar Usuario"
  [(visible)]="visible"
  [style]="{ width: '50vw' }"
>
  <form action="" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="mt-5 mx-auto">
      <label for="" class="mb-2">Correo electronico</label>

      <input
        type="email"
        formControlName="email"
        placeholder="Correo electronico"
        class="mt-1 pl-2 block w-full border-none bg-gray-200 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0"
      />
    </div>
    <div class="mt-5 mx-auto">
      <label for="" class="mb-2">Numero de nomina</label>

      <input
        type="number"
        formControlName="group"
        placeholder="Numero de nomina"
        class="mt-1 pl-2 block w-full border-none bg-gray-200 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0"
      />
    </div>
        <div class="mt-5 mx-auto">
          <label for="" class="mb-2">Tipo de usuario</label>
      <select
        formControlName="group"
        placeholder="Numero de nomina"
        class="mt-1 pl-2 block w-full border-none bg-gray-200 h-11 rounded-xl shadow-lg hover:bg-blue-100 focus:bg-blue-100 focus:ring-0"
    ></select>
    </div>
    <ng-container *ngIf="myForm.invalid">
      <button
        type="submit"
        disabled
        class="bg-zinc-300 mt-4 justify-center text-center px-5 py-3 text-sm shadow-sm font-medium tracking-wider text-blue-100 rounded-full cursor-not-allowed"
      >
        Registrar
      </button>
    </ng-container>
    <ng-container *ngIf="!myForm.invalid">
      <button
        type="submit"
        class="bg-blue-500 mt-4 justify-center text-center px-5 py-3 text-sm shadow-sm font-medium tracking-wider hover:bg-blue-700 text-blue-100 rounded-full"
      >
        Registrar
      </button>
    </ng-container>
  </form>
</p-dialog>
