/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.p-tabview {
    color: #ff0000;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif}
@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');
/* Cambiar el color de fondo de los botones de paginación */
/* Cambiar el color de fondo del botón */
.p-ripple.p-element.p-paginator-page.p-paginator-element.p-link.p-highlight {
  background-color: #0070f0 !important;
  color: #fff;
  border: 1px solid #0070f0;
  /* Otros estilos según sea necesario */
}
table{
 border-radius: 20px;
 -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 -ms-border-radius: 20px;
 -o-border-radius: 20px;
}

.p-component {
  font-family: var(--font-family);
  font-feature-settings: var(--font-feature-settings, normal);
  /* font-size: 1rem; */
   font-weight: normal; }
.p-paginator {
  /* Estilos adicionales para el componente p-paginator */
  /* Por ejemplo: */
  margin: 0%;
  background-color: #ffffff;

}

.p-inputwrapper-filled{
opacity: .8;
}
.p-tabview-panels{
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

}

.p-tabview-nav-content{
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

/* Otros estilos para botones de paginación, como tamaño, márgenes, etc. */
.p-dialog-header{
  background-color: #f4f5f7;
  line-height: 2px;
  text-decoration: solid;
  text-align: center;
  font-size: medium;
  font-weight: bold;
  color: #cac9c9;
}
.p-image-preview-container {
    position: relative;
    display: inline-block;
    line-height: 0;
    width: 150px;
    height: 100px;
}
span{
  color: #050505;
}

div.p-tabview-panels {
  /* Estilos específicos para div con la clase p-tabview-panels */
  background-color: rgb(235, 235, 235);
  border: 1px solid #fafafa;
  padding: 10px;
  border-radius: 10px;
  /* Otros estilos... */
}
/* Estilos para el componente de selección personalizado */
.select-trigger {
  border: 1px solid #ccc;
}

.options {
  min-width: 120px;
  max-height: 200px;
  overflow-y: auto;
}

.option {
  cursor: pointer;
}

.hover-content {
  width: 200px;
  top: 0;
  transform: translateY(-100%);
}
.custom-scrollbar::-webkit-scrollbar {
  margin-right: 10px;
  width: 6px; /* Ancho de la barra en navegadores WebKit */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #999; /* Color del thumb */
  border-radius: 8px; /* Borde redondeado del thumb */
}